body {
    font-size: 14px;
}

.heading {
    color: blueviolet;
    font-style: oblique;
    font-size: 36px;
}

h2 {
    color: darkcyan;
    font-size: 16px;
    font-style: inherit;
}

.text {
    font-style: italic;
    line-height: 1.5em;
    color: cornflowerblue;
}

.play {
    font-style: initial;
    font-size: 16px;
}

p {
    display: inline-block;
    background-color: darkgray;
    font-size: 30px;
    width: 60px;
    height: 40px;
    font-style: arial;
    padding: 5px;
}

.clubs {
    color: black;
}

.hearts {
    color: crimson;
}

.diams {
    color: crimson;
}